body {
    background-color: #e6f2fc;
    font-family: sans-serif;
    height: 100%;
}

.title {
    height: 70px;
}

#editor {
    border-radius: 8px;
    width: 70%;
    height: 500px;
    font-size: 16px;
}

#codearea {
    font-size: 18px;
}

.sidebar {
    float: left;
    width: 250px;
    height: 100vh;
    overflow: scroll;
}

#sprite-select {
    border-radius: 2px;
    font-size: 18px;
    margin-bottom: 5px;
}

.submit {
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
}

.block {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    font-family: serif;
    font-weight: bold;
    margin: 5px;
    padding: 8px;
    color: white;
    z-index: 100;
}

.block-motion {
    background-color: #5c97f7;
}

.block-looks {
    background-color: #976efc;
}

.block-event {
    background-color: #f6c042;
}

.block-control {
    background-color: #ffab2c;
}

.block-variable {
    background-color: #fe8a29;
}